/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #005EC4;
  border: 2px solid #F1C400;
  border-radius: .2em;
  color: #f1c400;
  padding: .5em;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 2em;
  right: 2em;
  width: 5em;
  vertical-align: bottom;
}

.bot-msg {
  color: white;
  background-color: #302E2C;
  border: 1px solid black;
  border-radius: 0 1em;

  padding: .5em;
  text-align: left;

  margin-top: .1em;
}

.user-msg {
  color: black;
  background-color: #F1C400;
  border: 1px solid black;
  border-radius: 1em 0;

  padding: .5em;
  text-align: right;

  margin-top: .5em;
}

.inner-text {
  margin: 0;
  padding: 0;
  border: none;
}

/* The popup chat - hidden by default */
.chat-popup {
  background-color: #005EC4;
  max-width: 300px;
  padding: .1em;

  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 2px solid #f1C400;
  z-index: 9;
}

.chat-content {
  background-color: #005EC4;

  max-height: 70vh;

  overflow: scroll;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: .1em;
  background-color: #005EC4;

  border-top: 1px solid #F1C400;
}

.form-container input {
  color: #005EC4;
  background-color: #F1C400;
  border: 1px solid black;
  border-radius: 1em 0;

  padding: .5em;
  text-align: left;
  width: 100%;
}

/* When the input gets focus, do something */
.form-container input:focus {
  color: black;

  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #F1C400;
  border: 1px solid black;
  border-radius: .2em;
  color: black;
  padding: .5em;
  cursor: pointer;
  margin-top: .2em;
  margin-bottom: .2em;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  opacity: 0.8;

  background-color: #302E2C;
  color: white;

  float: right;
}

/* Add some hover effects to buttons */
.form-container .btn:hover,
.open-button:hover {
  opacity: 1;
}

.form-container .form-header {
  text-align: center;
  color: white;
  background-color: #302E2C;

  border: 1px solid black;
  border-radius: .2em;
}

.form-menu {
  max-width: 300px;
  padding: .1em;
  background-color: #005ec4;

  border-bottom: 1px solid #f1c400;

  display: flex;
  flex-flow: row wrap;

  align-items: center;
  justify-content: space-between;
}

/* Set a style for the submit/send button */
.form-menu .btn {
  background-color: #302e2c;
  border: 1px solid black;
  border-radius: .2em;
  color: white;
  /* padding: .2em; */
  cursor: pointer;
  width: 32px;
  height: 32px;
  /* margin-top: .2em;
  margin-bottom: .2em; */
  opacity: 0.8;
  text-align: center;
}

/* Add some hover effects to buttons */
.form-menu .btn:hover {
  opacity: 1;
}

.form-menu h3 {
  color: #f1c400;
  padding: 0 .5em;
}

.form-menu select {
  color: #005EC4;
  background-color: #F1C400;
  border: 1px solid black;
  border-radius: .5em 0;

  margin-top: .2em;
  margin-bottom: .2em;
  padding: .3em;

  text-align: left;
  width: 50%;
}

/* width */
::-webkit-scrollbar {
  width: .5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #005ec4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F1C400;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #302E2C;
}

/* corner */
::-webkit-scrollbar-corner {
  background: #005ec4;
}

/* buttons */
::-webkit-scrollbar-button {
  background: #005ec4;
}

.icon-chat {
  margin: 0;
  padding: 0;
  border: none;
}

.form-answer {
  padding: .1em;
  background-color: #302e2c;
}

.form-answer .btn {
  background-color: #F1C400;
  border: 1px solid black;
  border-radius: .2em;
  color: black;
  padding: .5em;
  cursor: pointer;
  width: 100%;
  margin-top: .2em;
  margin-bottom: .2em;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-answer .btn:hover {
  opacity: 1;
}

.form-custom {
  margin: .2em;
  padding: .2em;
  background-color: #302e2c;

  border: 1px solid #F1C400;

  text-align: center;

  /* overflow: scroll; */
}

.form-custom input,
select {
  color: #005EC4;
  background-color: #F1C400;
  border: 1px solid black;
  border-radius: .5em 0;

  margin-top: .2em;
  margin-bottom: .2em;
  padding: .3em;

  text-align: left;
  width: 100%;
}

/* When the input gets focus, do something */
.form-custom input:focus {
  color: black;

  outline: none;
}

.form-custom .btn {
  background-color: #F1C400;
  border: 1px solid black;
  border-radius: .2em;
  color: black;
  padding: .3em;
  cursor: pointer;
  /* width: 30%; */
  margin-top: .2em;
  margin-bottom: .2em;
  opacity: 0.8;
}

/* Add some hover effects to buttons */
.form-custom .btn:hover {
  opacity: 1;
}